.Hero {
    width: 100%;
    height: 100%;
}

.tabla {
    width: 100%;

}

.Escritos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1196ad;
}

.ima {
    width: 70%;
    margin: 10px;
}

.Titulos {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    text-align: center;
}

.Fondo{
    background-color: black;
}

.Yo {
    width: 70%;
}

.Estadistica{
    width: 50%;
    padding-left: 25%;
}

.waa {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #e0edf0;
        text-align: center;
        font-size: 200%;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

    nav {
        float: left; /* Desplazamos el nav hacia la izquierda */
      }
       
      nav ul {
        list-style: none;
        overflow: hidden; /* Limpiamos errores de float */
      }
       
      nav ul li {
        float: left;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
       
      nav ul li a {
        display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
        padding: 20px;
        color: #fff;
        text-decoration: none;
      }
       
      nav ul li:hover {
        background: #3ead47;
  }

  .icon{
    position: fixed;
    width: 5%;
    margin-top: 43%;
    cursor: pointer;
    margin-left: 95%;
  }